[Desktop Entry]
Encoding=UTF-8
Name=Link to imap://aguiarlima%2Eroberto%40gmail%2Ecom@imap.googlemail.com:993/fetch%3EUID%3E/INBOX%3E35352?part=1.2&type=image/jpeg&filename=20141219_150340_HDR%20%282%29.jpg
Type=Link
URL=imap://aguiarlima%2Eroberto%40gmail%2Ecom@imap.googlemail.com:993/fetch%3EUID%3E/INBOX%3E35352?part=1.2&type=image/jpeg&filename=20141219_150340_HDR%20%282%29.jpg
Icon=text-html
